div.speaker {
	width:128px;
	height:88px;
	display:none;
	z-index:20;
	position:absolute;
	background-image:url(deimos.png);
	background-position:0px 0px;
}

div.speaker textarea {
	width: 116px;
	height: 55px;
	margin-top: 5px;
	margin-left: 4px;
	outline:none;
	resize:none;
	border:0;
}

/*top: 125px;
left: 372px;
width: 117px;
height: 56px;
border: 2px solid black;
border-radius: 7px;
position: absolute;
padding: 5px;*/